<h1>New</h1>
<form action="/supplier" method="post">
<table>
<tr> <td> Supplier Name: </td> <td> <input type="text" name="name" required> </td> </tr>
<tr> <td> Contact Name: </td> <td> <input type="text" name="contact_name" required> </td> </tr>
<tr> <td> Email: </td> <td> <input type="email" name="email" required> </td> </tr>
<tr> <td> Phone: </td> <td> <input type="text" name="phone" required> </td> </tr>
<tr> <td> Address: </td> <td> <textarea name="address" rows="3" cols="30" placeholder="Address" required></textarea> </td> </tr>
</table>
<button type="submit">Submit</button>
</form>
