<div id="footer" style="background-color:#fbfcfc;">
    <h5>This is footer </h5>
    </div>
<ul>
    <li>Account</li>
    <br>
    <li>Sign in </li>
    <br>
    <li>register</li>
    <br>
    <li>account details</li>
</ul>
    