<!DOCTYPE html>
<html>
  <head>
    <title>Pulse Athletics</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <img src="/images/logo.png">
    <p>Welcome to <%= title %> </p>
    <p> Welcome to the Pulse Atheltics Application!!</p>
    <p> Here is the person name variable value: <%= personname %></p>
  </body>
</html>
