<h1>New</h1>
<form action="/product" method="post">
<table>
<tr> <td> Product Name: </td> <td> <input type="text" name="productname" required> </td>
</tr>
<tr><td> Product Image: </td><td> <input type="text" name="product_images" placeholder="Enter image URL" required> </td></tr>
<tr> <td> Description: </td> <td> <textarea name="description" rows="10" cols="30" placeholder="Description" required></textarea> </td> </tr>
<tr> <td> Category: </td> <td> <input type="text" name="category" required> </td> </tr>
<tr> <td> Price: </td> <td> <input type="text" name="price" required> </td> </tr>
<tr> <td> Stock: </td> <td> <input type="number" name="stock" required> </td> </tr>
<tr> <td> Homepage: </td> <td> <input type="checkbox" name="homepage" value="1"> </td> </tr>
</table>
<button type="submit">Submit</button>
</form>

