<h1>New</h1>
<form action="/promotions" method="post">
<table>
<tr> <td> Promotion Name: </td> <td> <input type="text" name="promotion_name" required> </td>
</tr>
<tr><td> Description: </td><td> <input type="text" name="description" placeholder="Enter description" required> </td></tr>
<tr> <td> Discount: </td> <td> <input type="number" name="discount" required> </td> </tr>
<tr> <td> Start Date: </td> <td> <input type="date" name="start_date" required> </td> </tr>
<tr> <td> End Date: </td> <td> <input type="date" name="end_date" required> </td> </tr>
<tr> <td> Product ID: </td> <td> <input type="text" name="product_id" required> </td> </tr>
</table>
<button type="submit">Submit</button>
</form>
