<h1>New</h1>
<form action="/sales" method="post">
<table>
<tr> <td> Customer ID: </td> <td> <input type="text" name="customer_id" required> </td>
</tr>
<tr><td> Product ID: </td><td> <input type="text" name="product_id" placeholder="Enter product id" required> </td></tr>
<tr> <td> Sale Date: </td> <td> <input type="date" name="sale_date" required> </td> </tr>
<tr> <td> Quantity: </td> <td> <input type="number" name="quantity" required> </td> </tr>
<tr> <td> Total Price: </td> <td> <input type="number" name="total_price" required> </td> </tr>
</table>
<button type="submit">Submit</button>
</form>
