<h1>New</h1>
<form action="/customers" method="post">
<table>
<tr> <td> First Name: </td> <td> <input type="text" name="first_name" required> </td>
</tr>
<tr><td> Last Name: </td><td> <input type="text" name="last_name" placeholder="Enter last name" required> </td></tr>
<tr> <td> Email: </td> <td> <textarea name="email" rows="10" cols="30" placeholder="Email" required></textarea> </td> </tr>
<tr> <td> Phone: </td> <td> <input type="text" name="phone" required> </td> </tr>
<tr> <td> Address 1: </td> <td> <input type="text" name="address_1" required> </td> </tr>
<tr> <td> Address 2: </td> <td> <input type="text" name="address_2" placeholder="Enter address 2" > </td> </tr>
<tr> <td> City: </td> <td> <input type="text" name="city" required> </td> </tr>
<tr> <td> State: </td> <td> <input type="text" name="state" required> </td> </tr>
<tr> <td> Zip: </td> <td> <input type="text" name="zip" required> </td> </tr>
</table>
<button type="submit">Submit</button>
</form>
